<div class="container exercise-content">
    <div class="row">
        <div class="col-md-12"><h1>{{title}}</h1></div>
    </div>
    <div class="row">
        <form class="form-emailreset" [formGroup]="emailForm" (submit)="onSubmit()">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="email">Enter your email address:&nbsp;</label>
                    <input formControlName="email" type="text" placeholder="Email Address" autofocus id="email" />
                    <span class="validator-label valid" *ngIf="this.emailForm.controls.email.valid"><i class="fa fa-check" aria-hidden="true"></i>valid!</span>
                    <span class="validator-label invalid" *ngIf="!this.emailForm.controls.email.valid && !this.emailForm.controls.email.pristine"><i class="fa fa-remove" aria-hidden="true"></i>invalid!</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" [disabled]="!emailForm.valid" value="Send Reset Email" />
                </div>
            </div>
        </form>
    </div>
    <tsf-footer></tsf-footer>
</div>