<div class="container exercise-content">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li class="active">Reset Password</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <form class="reset-password" [formGroup]="passwordForm" (submit)="onSubmit()">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Username">Enter your Email:&nbsp;</label>
                    <input formControlName="Username" type="text" class="form-control" placeholder="Email" autofocus id="Username" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Oldpassword">Enter your current password:&nbsp;</label>
                    <input formControlName="Oldpassword" type="password" class="form-control" placeholder="Current Password" id="Oldpassword" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Newpassword">Enter your new password:&nbsp;</label>
                    <input formControlName="Newpassword" type="password" class="form-control" placeholder="Enter new password" id="Newpassword" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Newpasswordconfirm">Confirm your new password:&nbsp;</label>
                    <input formControlName="Newpasswordconfirm" type="password" class="form-control" placeholder="Confirm your new password" id="Newpasswordconfirm" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-small" [disabled]="!passwordForm.valid" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <tsf-footer></tsf-footer>
</div>