<div class="container exercise-content">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="background-color: white;">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/roles']">Roles</a></li>
                <li class="active">Add Role</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h1>{{title}}</h1></div>
    </div>
    <div class="row">
        <form class="form-role" [formGroup]="roleForm" (submit)="onSubmit()">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Enter Role Name:&nbsp;</label>
                    <input formControlName="name" type="text" class="form-control" placeholder="Role Name" autofocus id="name" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Create" />
                    <button type="submit" class="btn btn-primary btn-sm" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <tsf-footer></tsf-footer>
</div>