<div class="container exercise-content">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="background-color: white;">
                <li><a [routerLink]="['/home']">Home</a></li>                
                <li class="active">Roles</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h1>{{title}}</h1></div>
        <div class="k-button" style="float:right;margin-right: 20px;" (click)="add()"><span class="k-icon k-i-add"></span></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-striped">
                <caption>Table containing list of user roles for this application.</caption>
                <thead style="background-color: lightblue;">
                    <tr>
                        <th>Name</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let role of roles">
                    <tr>
                        <td>{{role.name}}</td>
                        <td><div (click)="edit(role)" class="k-button" style="border: none;"><span class="k-icon k-i-edit"></span></div></td>
                        <td><div (click)="delete(role.id)" class="k-button" style="border: none;"><span class="k-icon k-i-delete"></span></div></td>
                    </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <tsf-footer></tsf-footer>
</div>