.register-link {
    cursor:pointer;
    font-size: 0.8em;
    margin: 10px 0;
}
.login-container {
    max-width: 330px;
    padding: 15px;
}
.form-login {
    margin: 0 0 10px 20px;
}
 .checkbox{
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}
