<div class="container exercise-content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li class="active">TSF FAQ</li>
        </ol>
    </div>
    <div class="container header">
        <div class="row header">
            <div class="col-md-12"><h1>{{title}}</h1></div>
        </div>
    </div>
    <div class="container" id="navigation">
        <div class="row">
            <div class="col-md-12"><span><strong>General</strong></span>
                <ul><li><a href="#gen1">What is the TSF?</a></li></ul>
            </div>
            <div class="col-md-12"><strong>Transition IEP Review (Indicator 13)</strong>
                <ul>
                    <li>&nbsp;&nbsp;<a href="#iep1">What is it?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#iep2">Why should I enter IEP data into the TSF?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#iep3">Who should enter the IEP data?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#iep4">Who has access to my district's IEP data?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#iep5">What do I do with the results?</a><br /></li>
                </ul>
            </div>
            <div class="col-md-12"><strong>Post-School Data Collection</strong>
                <ul>
                    <li>&nbsp;&nbsp;<a href="#ps1">What is the Post-School Survey?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#ps2">Why should I complete the Post-School Survey?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#ps3">Who has access to these data?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#ps4">Who should utilize the Post-School Survey?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#ps5">What do I do with the results?</a><br /></li>
                </ul>
            </div>
            <div class="col-md-12"><strong>QuIST</strong>
                <ul>
                    <li>&nbsp;&nbsp;<a href="#quist1">What is the QuIST?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#quist2">Why should I utilize the QuIST?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#quist3">Who should use the QuIST</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#quist4">Who has access to my district's QuIST data?</a><br /></li>
                    <li>&nbsp;&nbsp;<a href="#quist5">What do I do with the results?</a><br /></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="gen">
            <div class="col-md-11">
                <div><h2 id="gen">General</h2></div>
                <div><h3 id="gen1">What is the TSF?</h3></div>
                <div>The Transition Systemic Framework (TSF) is a platform developed and maintained by CCTS for users in school districts to interact with data regarding their district. The TSF contains three main components; Transition IEP Review, Post-School Data Collection, and the QuIST.</div>
                <div><a href="#navigation">Top</a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div><h2 class="iep" id="gen">Transition IEP Review (Indicator 13)</h2></div>
                <div>
                    <div><h3 id="iep1">What is it?</h3></div>
                    <div>
                        Indicator 13, an accountability indicator under IDEA 2004, is the percent of youth aged 16 and above with an IEP that includes coordinated, measurable, annual IEP goals and transition services that will reasonably enable the child to meet the postsecondary goals [20 U.S.C. 1416(a)(3)(B)].
                        <br /><br />
                        The Indicator 13 tool built into the TSF is <span style="text-decoration: underline">not</span> used for monitoring or compliance purposes, but rather is a self-assessment tool for districts to gauge strengths and areas of improvement in their IEPs for transition-age students.  Users enter IEP information into the tool, and summary reports display IEP compliance by section of the IEP.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="iep3">Who should enter IEP data?</h3></div>
                    <div>
                        Anybody involved in writing IEPs for their district could benefit from entering and evaluating IEP data in the TSF, including special education teachers, administrators, and school support staff.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="iep4">Who has access to my district's IEP data?</h3></div>
                    <div>
                        Only TSF users from your district will have access to your district's IEP data, along with CCTS Staff.  CCTS uses the data only for technical assistance and aggregate reporting, <span style="text-decoration: underline">not</span> complaince.  CCTS does not report your district-level IEP data to any other entities.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="iep5">What do I do with the results?</h3></div>
                    <div>
                        Examine your district's strengths and weaknesses when it comes to writing compliant IEPs, and work to implement changes accordingly. Commit to continuing to enter IEP data into the TSF each year to continue to search for areas on improvement in writing compliant IEPs for transition-age students.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div><h2 class="ps" id="postschool">Post-School Data Collection (Indicator 14)</h2></div>
                <div>
                    <div><h3 id="ps1">What is the Post-School Survey?</h3></div>
                    <div>
                        The Post-School Survey is a performance indicator under IDEA 2004.  The survey is administered from June 1 to October 31 each year.  School district personnel conduct the survey by contacting students ages 16-21 with an IEP one year after the student graduated or permanently exited high school.  The surveys are administered via phone, and data are recorded in the survey form in the TSF.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="ps2">Why should I complete the Post-School Survey?</h3></div>
                    <div>
                        Completion of the post-school survey is a requirement of state and federal statutes, specifically <a href="http://idea.ed.gov/explore/view/p/,root,dynamic,TopicalBrief,24," target="_blank">20 U.S.C. § 1416(a)(3)(B) of IDEA</a> and <a href="http://apps.leg.wa.gov/wac/default.aspx?cite=392-172A-07015" target="_blank">WAC 392-172A-07015</a> and <a href="http://app.leg.wa.gov/wac/default.aspx?cite=392-172A-07020" target="_blank">WAC 392-172A-07020</a> of the Washington Administrative Code.  Post-school outcome data are tied to the LEA Application for Federal Funds for Special Education as one of four performance indicators.  In addition, results of the post-school survey can be help districts in realizing areas of programmatic improvement to improve post-school outcomes for their students.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="ps3">Who has access to these data?</h3></div>
                    <div>
                        Only TSF users from your district will have access to your district's Post-School data, along with CCTS staff.  Post-School data are confidential and belong to your district.  If outside agencies request your district's data, CCTS forwards the request to your district.  Your district can then choose whether to share your data or not.
                        <br /><br />
                        CCTS accesses district-level data for technical assistance purposes and also for Indicator 18 under IDEA 2004 of reporting of timely and accurate data.  CCTS reports on districts that have not completed the post-school survey by the November 1 deadline each year.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="ps4">Who should utilize the Post-School Survey?</h3></div>
                    <div>
                        It is up to your district to determine who conducts the Post-School Survey calls.  Typically response rates are higher when the student knows the person conducting the Post-School Survey.  Often those conducting the Post-School Survey calls are special education teachers, administrators, or school support personnel.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="ps5">What do I do with the results?</h3></div>
                    <div>
                        District data managers have access to downloadable reports containing the district's Post-School Outcomes for the survey year each school year.  School district personnel can use post-school outcome data to evaluate the effectiveness of their special education programs.  We encourage district data managers to disseminate data and hold discussions on how to improve post-school outcomes for students.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div><h2 class="quist" id="quist">QuIST</h2></div>
                <div>
                    <div><h3 id="quist1">What is the QuIST?</h3></div>
                    <div>
                        The Quality Indicators for Secondary Transition (QuIST) tool was developed based on The Taxonomy for Transition Programming, a framework developed by Dr. Paula D. Kohler (Kohler, 1996). The Taxonomy was developed after surveying over 200 transition professionals to develop a conceptual framework used for planning, evaluation, and research. The conceptual framework was an extension of Dr. Kohler’s previous work of creating a list of research-based transition practices with positive post-school outcomes in mind.
                        <br />The QuIST includes 66 indicators based off of Dr. Kohler’s work. Indicators are spread throughout five domains:
                        <ol style="counter-increment: item">
                            <li>School-Based Activities</li>
                            <li>Work-Based Learning</li>
                            <li>System Support</li>
                            <li>Family Involvement</li>
                            <li>Agency Connections</li>
                        </ol>
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="quist2">Why should I utilize the QuIST?</h3></div>
                    <div>
                        Quality Indicators are designed for school districts to assess transition services for students with disabilities in school programs. By using this tool, school district teams will have a common understanding of what constitutes quality programming and best practice in secondary special education and transition.  This activity will promote planning and continuous improvement to increase post-school outcomes for students.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>                
                <hr />
                <div>
                    <div><h3 id="quist3">Who should use the QuIST?</h3></div>
                    <div>The QuIST ideally is completed by a school district as a team, and can include members such as:
                        <ul>
                            <li>Special Education teacher</li>
                            <li>Special Education administrator</li>
                            <li>Support Personnel: counselor, psychologist, transition specialist</li>
                            <li>Building Administrator</li>
                            <li>CTE/Career education staff</li>
                            <li>Student/Family (if possible)</li>
                        </ul>
                    </div>
                    <div>CCTS recommends the QuIST be completed by at least four school district personnel.</div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="quist4">Who has access to my district's QuIST data?</h3></div>
                    <div>
                        Only TSF users from your district will have access to your district's QuIST data, along with CCTS staff.  CCTS uses the data only for technical assistance and aggregate reporting, <span style="text-decoration: underline">not</span> compliance.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
                <hr />
                <div>
                    <div><h3 id="quist5">What do I do with the results?</h3></div>
                    <div>
                        Create an action plan to implement changes when you see areas of weakness.  Commit to retaking the QuIST at least once a year to benchmark improvements and continue dedication to improving transition programming.
                    </div>
                    <div><a href="#navigation">Top</a></div>
                </div>
            </div>
        </div>
    </div>
    <tsf-footer></tsf-footer>
</div>